/.env
/.idea/.gitignore
/frontend/.gitignore
/frontend/AUTH_DOCUMENTATION.md
/frontend/AUTH_IMPLEMENTATION_SUMMARY.md
/frontend/BOARD_PAGE_DOCUMENTATION.md
/frontend/COMPONENT_FIX_SUMMARY.md
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/frontend/CREATE_PROJECT_UI_DOCUMENTATION.md
/frontend/FRONTEND_SUMMARY.md
/.idea/modules.xml
/frontend/package-lock.json
/.idea/php.xml
/PROFILE_PAGE_COMPLETE.md
/frontend/src/assets/react.svg
/frontend/README.md
/README.md
/.idea/roadmap-to-04.iml
/frontend/src/theme.ts
/frontend/tsconfig.app.json
/frontend/tsconfig.json
/frontend/tsconfig.node.json
/.idea/vcs.xml
/frontend/public/vite.svg
